* {
  box-sizing: border-box;
}
html {
  height: 100%;
  width: 100%;
}
body {
  background-color: skyblue;
  padding: 4%;
}
h1 {
  font-style: oblique;
  font-size: 4rem;
  color: blueviolet;
  padding: 1rem;
}
h3 {
  font-style: italic;
  font-size: 1rem;
  padding-left: 1rem;
  margin-left: 3rem;
}
p {
  font-size: 1.5rem;
  padding: 1rem;
}
ol,ul {
  font-size: 1.4rem;
  padding: 1rem;
  margin-left: 3rem;
}
ul {
  list-style-type: disc;
}
ol {
  list-style-type: decimal;
}
footer {
  text-align: right;
  padding: 1rem;
}